body {
    background-size: cover;
}

.heading
{
font-size: 23px;
width: 80%;
margin: 0px;
border-radius: 5px;
margin-top: 10px;
}

canvas {
    box-shadow: 10px 10px 10px grey;
    border-radius: 10px;
}

a {
    width: 30%;
}